<mat-toolbar color="primary">
  <span>Crear Pedido </span>
</mat-toolbar>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Identificación" type="number" max="2000000000" [(ngModel)]="user.cedula">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="user.nombre" maxlength="50">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" readonly="readonly" placeholder="Fecha de nacimiento"
      [(ngModel)]="user.fecha">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Dirección" maxlength="100" [(ngModel)]="user.direccion">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Ciudad" [(ngModel)]="user.ciudad">
      <mat-option value="Bogotá">Bogotá</mat-option>
      <mat-option value="Medellin">Medellín</mat-option>
      <mat-option value="Cali">Cali</mat-option>
      <mat-option value="Barranquilla">Barranquilla</mat-option>
      <mat-option value="Bucaramanga">Bucaramanga</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <p class="information">Tenga en cuenta que solo se pueden subir archivos hasta con 1 mega de tamaño</p>
    <input placeholder="Seleccione un archivo" type="file" value="" (change)="onFileChange($event)" #fileInput
      accept="application/pdf">
  </div>

  <button mat-raised-button color="primary" (click)="guardarPedido()" class="hacerPedido">Guardar Pedido</button>

</div>