.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.hacerPedido {
  margin: 5px;
}

.information {
  font-weight: bold;
  color: dodgerblue;
  margin: 7px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
