<mat-toolbar color="primary">
  <span>Catalogo Productos </span>
</mat-toolbar>
<mat-selection-list #productosSelect>
  <mat-list-option *ngFor="let item of productos" [disabled]="item.cantidadDisponible == 0" [value]="item">
    <img matListAvatar (click)="openImage(item)" [src]="item.miniatura" alt="{{item.descripcion}}"
      title="abrir imagen grande">
    <h3 matLine> {{item.descripcion | uppercase}} </h3>
    <p matLine>
      <span> {{item.categoria | uppercase }} </span>
      <span class="demo-2"> Cantidad Disponible : {{item.cantidadDisponible}} </span>
    </p>
    <p matLine>
      Precio: $ {{item.precio}}
    </p>
    <mat-divider></mat-divider>
  </mat-list-option>
</mat-selection-list>
<p>
  seleccionado : {{productosSelect.selectedOptions.selected.length}}
</p>
<button mat-raised-button color="primary" (click)="hacerPedido()" class="hacerPedido">Hacer Pedido</button>

